
<div class="flex flex-col mx-auto">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-10">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-10">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Description
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Actions
              </th>
            </tr>
          </thead>
          <% @products.each do |product| %>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <%= link_to product.name, product_path(product), class: "text-sm font-medium text-gray-900" %>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-700">
                      <%= product.description %>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    
                      <%= link_to "Edit", edit_product_path(product), class: "px-3 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800" %>
                    
                      <%= link_to 'Destroy', product,
                                  data: {
                                    "turbo-method": :delete,
                                    controller: "confirmation",
                                    "confirmation-message-value": 'Are you sure?',
                                    action: "confirmation#confirm"
                                  }, class: "px-3 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800" %>
                  </td>
                </tr>
              </tbody>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</div>




